.container{
    background-color: #fff;
    margin-top: 10px;
    box-shadow: 2px 1px 2px #ddd;
}
.title{
  height: 60px;
  display: flex;
  flex-direction: row;
}

.headPortrait{
  flex: 1;
  line-height: 60px;
  padding-left:10px;
  margin-top: 10px;
}
.headPortrait img{
  border-radius: 100px;
}
.name{
  flex: 5;
  line-height: 60px;
}
.newImgContainer{
  width: 100%;
  padding: 10px;
}
.newImgContainer img{
  width: 100%;
}