.bianji{
	width: 100%;
	height: 100%;
	background: white;
}
.header{
	width: 100%;
	height: 4rem;
	background: grey;
	display: flex;
	text-align: center;
	justify-content: space-around;
}
.header p{
	width: 33%;
	line-height: 4rem;
}
textarea{
	width: 100%;
	height: 10rem;
}
